option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ecommerce.settings"
    PYTHONPATH: "C:/Users/lenovo/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Python 3.9:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "ecommerce.wsgi:application"